/* width */
::-webkit-scrollbar {
  width: 10px;
  overflow: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(243, 190, 104);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(243, 190, 104);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 375px;
}

#progress .times,
.card-footer,
.volume-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume-container i {
  margin-right: 5px;
}

li.playing {
  background-color: tomato;
  color: #fff;
}

.card {
  background: linear-gradient(30deg, rgb(122, 237, 199), rgb(243, 190, 104));
  border-radius: 15px;
  border: none;
}

#controls button {
  background-color: tomato;
  border-color: tomato;
}

#music-image {
  border-radius: 50%;
  padding: 20px;
  height: 200px;
}

.form-range::-webkit-slider-thumb {
  background: tomato;
}

.form-range::-moz-range-thumb {
  background: tomato;
}

.form-range::-ms-thumb {
  background: tomato;
}

.badgee-text {
  background-color: rgb(122, 237, 199, 0.7);
  color: tomato;
  font-size: small;
  font-weight: bold;
}
