body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 400px;
}

#progress .times {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
