.container {
  width: 350px;
}

#controls i {
  font-size: 30px;
  color: purple;
  margin-right: 20px;
}

#progress {
  margin-bottom: 20px;
}

#progress .times,
#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#progress-bar {
  width: 100%;
}

#music-image {
  width: 100%;
}
